@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Software Engineering Project</h3>

<p>
    This is a dating website for our software engineering project.
    The people in the group are me, James, and Senior(kind of) of
    USC Upstate. Mehdi Momin, the indian guy who created the database
    ... fifty times. Alex Trejo, who
    , believe it or not... is a MEXICAN? WHAT!? I know, crazy. But yeah,
    thanks to him you can see all of the nice little profiles you all made.
    Then there is Timothy(TIMMY) Vaught, he likes anime, too much, I think.
    However, as many Timmy's do, he got his work done is why the Matching
    page works, although the algorithm for the matching page is different
    than the algorithm we had to use on the home page, trust me, that was
    a pain. And last but not least, there is Robert Mignone, the italian fella.
    He is one of those fancy jack of all trades that helped all around in the
    project. If you have read this far, you must be quite invested (or the person
    that is grading this) whoops, fourth wall break.
</p>