@{
    ViewBag.Title = "Contact Us";
}

<div class="row">
    <div class="column left" style="background-color:white">
        <address>
            Usc Upstate<br />
            Sofware Engineering<br />
            Project <br />
        </address>

        <address>
            <strong>Filipino</strong>   <a href="ralphb@email.uscupstate.edu">ralphb@email.uscupstate.edu</a><br />
            <strong>Indian</strong> <a href="mmomin@email.uscupstate.edu">mmomin@email.uscupstate.edu</a><br />
            <strong>Italian</strong> <a href="rmignone@email.uscupstate.edu">rmignone@email.uscupstate.edu</a><br />
            <strong>German</strong> <a href="tvaught@email.uscupstate.edu">tvaught@email.uscupstate.edu</a><br />
            <strong>Mexican</strong> <a href="trejoa@email.uscupstate.edu">trejoa@email.uscupstate.edu</a><br />
        </address>
    </div>
    <div class="column right">
        <img src="../Content/Images/GroupPhoto.jpg"/>
    </div>
</div>
