@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Class-Mates</h1>
    <p class="lead">Check your NEW messages!</p>
    <p>
        <a href="../Messages/Inbox" class="btn btn-primary btn-lg">Messages &raquo;</a>
        <a href="../Commons/Index" class="btn btn-primary btn-lg">Matches &raquo;</a>

    </p>
</div>

<div class="row">
    <div class="column left" style="background-color:white">
        <a href="../Commons/Index">
            <h2>Matches</h2>
        </a>
        <a href="../Commons/Index">
            <p>Match 1</p>
        </a>
        <a href="../Commons/Index">
            <p>Match 2</p>
        </a>
        <a href="../Commons/Index">
            <p>Match 3</p>
        </a>
        <a href="../Commons/Index">
            <p>Match 4</p>
        </a>
    </div>

    <div class="vl"></div>

    <a href="../Messages/Index">
        <div class="column right" style="background-color: white">
            <a href="../Messages/Inbox">
                <h2>Recent Messages</h2>
            </a>
            <a href="../Messages/Inbox">
                <p>Messages 1</p>
            </a>
            <a href="../Messages/Inbox">
                <p>Messages 2</p>
            </a>
            <a href="../Messages/Inbox">
                <p>Messages 3</p>
            </a>
            <a href="../Messages/Inbox">
                <p>Messages 4</p>
            </a>
        </div>
    </a>
</div>