@{
    ViewBag.Title = "ThankYou";
}

<div class="jumbotron" style="text-align: center">
    <h1>Thank You!</h1>
    <p class="lead">Check your NEW messages!</p>
    <p>
        <a href="../Messages/Index" class="btn btn-primary btn-lg">Messages &raquo;</a>
        <a href="../Commons/Index" class="btn btn-primary btn-lg">Matches &raquo;</a>

    </p>
</div>

